[submodule "credentials"]
	path = credentials
	url = git@github.com:leeve1247/chimhaha-clone-docker-compose-credential.git
[submodule "SPA"]
	path = SPA
	url = git@github.com:leeve1247/chimhaha-clone-frontend-dist.git
