[submodule "credentials"]
	path = credentials
	url = https://github.com/leeve1247/chimhaha-clone-docker-compose-credential
[submodule "SPA"]
	path = SPA
	url = https://github.com/leeve1247/chimhaha-clone-frontend-dist
