services:
  nginx:
    image: nginx:latest
    container_name: nginx-container
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./credentials/cert.pem:/etc/nginx/certs/cert.pem
      - ./credentials/cert.key:/etc/nginx/certs/cert.key
    ports:
      - "8090:8090" # Auth
    networks:
      - internal
    depends_on:
      - keycloak

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak-container
    command: start
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin

      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://postgres-container:5432/kc_db
      - KC_DB_USERNAME=postgres
      - KC_DB_PASSWORD=postgres

      - KC_HOSTNAME=https://localhost:8090
      - KC_HOSTNAME_ADMIN=https://localhost:8090
      - KC_PROXY_HEADERS=xforwarded
      - KC_HTTP_ENABLED=true

    depends_on:
      - postgres
    networks:
      - internal
    volumes:
      - ./keycloak-providers:/opt/keycloak/providers
      - ./keycloak-themes:/opt/keycloak/themes

  postgres:
    image: postgres:latest
    container_name: postgres-container
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=kc_db
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgres-db-data:/var/lib/postgresql/data
      - postgres-db:/var/lib/postgresql
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - internal

  #  This is for cache backend data
  redis:
    image: redis:latest
    container_name: redis-container
    networks:
      - internal
    volumes:
      - redis-data:/data

  spring:
    container_name: spring-container
    build:
      context: ./spring
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - internal

  mysql:
    image: mysql:latest
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql-init.sql:/docker-entrypoint-initdb.d/mysql-init.sql:ro
      - mysql-db-data:/var/lib/mysql
    ports:
      - "127.0.0.1:3306:3306"
    networks:
      - internal

  seaweedfs-s3:
    container_name: seaweedfs-s3
    image: chrislusf/seaweedfs
    command: server -s3
    volumes:
      - seaweedfs-s3-data:/data
    ports:
      - "9000:8333"  # S3 API
      - "9333:9333"  # Master
      - "8888:8888"
    networks:
      - internal

volumes:
  mysql-db-data:
  postgres-db-data:
  postgres-db:
  redis-data:
  seaweedfs-s3-data:
  vite-node-modules:

networks:
  internal:
    driver: bridge
