services:
  nginx:
    image: nginx:latest
    container_name: nginx-container
    volumes:
      - ./SPA/dist:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./credentials/nginx:/etc/nginx/credentials/nginx:ro
    ports:
      - "80:80"
      - "8090:8090"
    networks:
      - internal
    depends_on:
      - keycloak


  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak-container
    command: start
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_PROXY_HEADERS=xforwarded
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://postgres-container:5432/${KC_DB}
      - KC_DB_USERNAME=${KC_DB_USERNAME}
      - KC_DB_PASSWORD=${KC_DB_PASSWORD}
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME=${KC_HOSTNAME}
    depends_on:
      - postgres
    networks:
      - internal
    volumes:
      - ./keycloak-providers:/opt/keycloak/providers
      - ./keycloak-themes:/opt/keycloak/themes

  postgres:
    image: postgres:latest
    container_name: postgres-container
    environment:
      - POSTGRES_USER=${KC_DB_USERNAME}
      - POSTGRES_PASSWORD=${KC_DB_PASSWORD}
      - POSTGRES_DB=${KC_DB}
    volumes:
      - postgres_db_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - internal

volumes:
  postgres_db_data:

networks:
  internal:
    driver: bridge